body{
    background-color: green
}
.container {
    text-align: center;
    background-color: #010101;
    padding: 20px;
    border-radius: 10px;
    color: #51e91e;
    box-shadow: 0 0 10px rgba(91, 53, 214, 0.898);
}

.stopwatch {
    margin: 20px 0;
}

#stopwatchDisplay {
    font-size: 2em;
    margin: 5px 0;
    padding: 10px;
    color: #fff7f7;
    background-color: #4c4949;
    border-radius: 5px;
}

.start-stop {
    background-color: #28a745;
    display: flex;
    flex-direction: row;
    border: 2px solid #218838;
    border-radius: 4px;
}



/* CSS */
.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(85, 85, 85, 0.125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}
.lap-reset{
    background-color: #218838;
    max-width: 60%;
    margin-top: 5px;
    display: flexbox;
    /* item should be centered */
    justify-content: center;
    border: 2px solid #1e7e34;
    border-radius: 4px;
    margin-left: 18%;

}
a{
    color: #51e91e;
    text-decoration: none;
    
}
.contact{
    border-radius: 4px;
    border: 1px solid #1e7e34;
    max-width: 100px;
   margin-left: 27%;
   padding: 3px;
   font-size: medium;
}
.contact:hover{
    background-color: #1e7e34;
    color: white;
}